body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

button{
    background-color: #6c63ff;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 12px 25px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(108,99,255,0.3);

    animation: mover 2s infinite alternate;
}

button:hover{
    background-color: #5848e5;
}

@keyframes mover{
    from{
        transform: translateY(0);
    }
    to{
        transform: translateY(-15px);
    }
}